HTML {
  background-color: black;
}

.App {
  color: white;
}

.Header {
  background-color: #282c34;
  max-height: 80px;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.Header__Item {
  margin-left: 2rem;
  margin-right: 2rem;
  user-select: none;
}

#Logo__Header {
  max-height: 80px;
  min-height: 40px;
}

